.btn{
    margin-left: 590%;
    background-color: #c0392b;
    border-color: #c0392b
}
.dropdown-menu{
    margin-left: 580%;
}
.header-back{
    background-color:#c0392b
}
.btnSelected{
    background-color:#c0392b;
    border-color: #c0392b
}
.btn{
    color:#fff
}