<app-header></app-header>
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">

        <div class="col main pt-5 mt-3">
            <div class="row mb-3">
                <div class="col-sm-8">
                    <h2>Student Edit</h2>
                </div>

                <div class="example-container">
                    <div class="form-container" *ngIf="this.studentData">
                        <mat-form-field class="form-field" appearance="outline">
                          <mat-label> Name
                          </mat-label>
                          <input matInput [(ngModel)]="this.studentData.name">
                          
                        </mat-form-field>
                        <br>
                        <mat-form-field class="form-field" appearance="outline">
                          <mat-label> Address
                          </mat-label>
                          <textarea matInput [(ngModel)]="this.studentData.address" ></textarea>
                          
                        </mat-form-field>
                        <br>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Mobile Number
                            </mat-label>
                            <input matInput [(ngModel)]="this.studentData.mobileNumber" type="text" maxlength="10">
                            
                          </mat-form-field>
                          <br>
                          <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Gender
                            </mat-label>
                            <mat-select matNativeControl [(ngModel)]="this.studentData.gender" >
                              <mat-option *ngFor="let g of this.genders" [value]="g">{{g}}</mat-option>

                            </mat-select>
                          
                            
                          </mat-form-field>
                          <br>
                        <button (click)="editStudent()" mat-raised-button color="primary" type="submit">Edit Student</button> &nbsp;&nbsp;
                        <button (click)="back()" mat-raised-button color="primary" >Back</button>

                      </div>
                  </div> 
                </div>
                </div>
                </div>
                </div>
                